<footer>
    <div class="social-icons">
        <a href="#" target="_blank"><img src="./assets/images/iconos/facebook.png" alt="Facebook"></a>
        <a href="#" target="_blank"><img src="./assets/images/iconos/instagram.png" alt="Instagram"></a>
        <a href="#" target="_blank"><img src="./assets/images/iconos/x.png" alt="Twitter"></a>
    </div>
    <p>Contáctanos: <a href="mailto:soporte@empresa.com">soporte@electrouade.com</a></p>
    <p><a href="#">Políticas de uso</a> | <a href="#">Aviso legal</a></p>
</footer>