<!-- Header -->
<header>
  <div class="header-container">
    <a href="index.html">
      <img src="./assets/images/iconos/ElectroUADE-nobg.png" alt="Logo" class="logo">
    </a>

    <button class="menu-toggle" id="menu-toggle">&#9776;</button>

    <nav id="nav-menu">
      <a href="./productos.html">Productos</a>
      <a href="./nosotros.html">Nosotros</a>
      <a href="./carrito.html" class="carrito-link">
        <img src="./assets/images/iconos/carrito-de-compras (2).png" alt="Carrito" class="carrito-icon">
        <span id="carrito-count">0</span>
      </a>
    </nav>
  </div>
</header>
