<!-- Header -->
<header>
    <div class="header-container">
        <a href="index.html"><img src="./assets/images/iconos/ElectroUADE-nobg.png" alt="Logo"></a>
        <nav>
            <a href="./productos.html">Productos</a>
            <a href="./nosotros.html">Nosotros</a>
            <a href="./carrito.html" class="carrito-link">
                <img src="./assets/images/iconos/carrito.png" alt="Carrito" class="carrito-icon">
                <span id="carrito-count">0</span>
            </a>
        </nav>
    </div>
</header>
