footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    transition: margin-left 0.3s ease; /* Animación para el margen dinámico */
}

.social-icons img {
    width: 24px;
    margin: 0 5px;
    cursor: pointer;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer.maximized {
    margin-left: 250px; /* Solo cuando el panel está maximizado */
}

footer.shifted {
    margin-left: 0; /* Ajustar cuando el panel esté minimizado */
}

@media (max-width: 768px) {
    footer {
        padding: 15px;
        font-size: 14px;
    }

    .social-icons img {
        width: 20px;
        margin: 0 3px;
    }
}